# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.production.local
.env.development.local
.env.test.local

# Vercel
.vercel

# Capacitor
android/app/build/
android/app/.cxx/
android/.gradle/
android/build/
android/local.properties
android/key.properties
android/app/*.keystore
android/app/*.jks
ios/App/Pods/
ios/App/build/
ios/App/*.ipa
